:root {
  --cream: #f2dac3;
  --caramel: #f1ca89;
  --brown: #cc9b6d;
  --gray: #c8c2bc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--cream);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

section {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: auto;
    font-size: 50px;
    text-align: center;
    line-height: 10vh;
}

p {
  text-decoration: underline;
}

.btn {
    border: none;
    background: var(--caramel);
    background-image: -webkit-linear-gradient(top, var(--caramel), var(--brown));
    background-image: -moz-linear-gradient(top, var(--caramel), var(--brown));
    background-image: -ms-linear-gradient(top, var(--caramel), var(--brown));
    background-image: -o-linear-gradient(top, var(--caramel), var(--brown));
    background-image: linear-gradient(to bottom, var(--caramel), var(--brown));
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: black;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 10px auto 10px auto;
  }
  
  .btn:hover {
    background: var(--brown);
    text-decoration: none;
  }

.container {
    position: relative;
    display: grid;
    background-color: black;
    width: 75vh;
    height: 75vh;
    margin: auto;
    border: 1px solid;
}

.cell {
    background-color: white;
    border: 1px solid;
}
